snippet rc "Stateless react component"
import React, { PropTypes } from 'react';

const $1 = (props) => {
	return <${2:div}>
		$0
	</$2>;
};

$1.propTypes = {};

export default $1;
endsnippet

snippet acon "Action constant"
export const $1 = '$1';
endsnippet

snippet acreate "Action creator"
export const $1 = () => (
	{
		type: $2,
	}
);
endsnippet
